
  /* SECTION */
  
  .contenido {
    padding-top: 65px;
  }
  
  /* slide */
  .slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  }
  .slider ul {
    display: flex;
    padding: 0;
    width: 600%;
    animation: cambio 10s infinite alternate linear;
  }
  .slider li {
  width: 100%;
  list-style: none;
  }
  .slider img {
  width: 100%;
  }
  @keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
  }
  /* fin slide */
  
   /* filtros */
   
   .filtros{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-top: 80px;
  }
  .cajita{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  .cajita > img{
    display: flex;
    position: absolute;
    z-index: -2;
  }
  .cajita > select {
    background-color: #0E0E14;
    border: 4px solid #6A1127;
    color: #B2B2B2;
    padding: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-style: italic;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
  } 
  .cajita > select > option:hover{
    background-color: #6A1127;
  }
   
    /* fin filtros */
  
  
  /* pelis */
  
  .mov{
    display: flex;
    margin-top:50px;
    margin-bottom: 50px;
  }
  .card{
    position: relative;
    width: 200px;
    height: 300px;
    background: #B43B3E;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #1F2345;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px #1F2345;
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px #B43B3E;
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 5px;
  right: 10px;
  transition: 0.5s;
  z-index: 1;
  }
  .card:hover .imgBx
  {
    bottom: 60px;
  }
  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 5px;
      height: 40px;
      text-align: center;
  }
  .card .details h3{
   margin: 0;
   padding: 0;
   font-size: 20px;
   color: #CCCCCC;
   text-transform: uppercase;
   font-family: 'Karla', sans-serif;
   line-height: 16px;
  } 
  
  
  /* fin pelis */
   /* FIN SECTION */



/* SLIDERS */

/* CONTENEDOR GENERO */
.contenedorGeneral{
    display: grid;
    grid-row: 2/3;
    width: 100%;
    height: auto;
    padding-top: 36px;
}
.contenedorGenero{
    display: grid;
    width: 100%;
    height: 492px;
    position: relative;
    margin-bottom: 100px;
/*     justify-content: space-around; */
  
    grid-template-rows: 80px auto;
  }
.contenedorGenero > img{
    display: flex;
    position: absolute;
    left: 0px;
  }
.titleGenero{
    display: grid;
    grid-row: 1/2;
    z-index: 5;
    color: #B43B3E;
    font-family: 'Karla', sans-serif;
    font-size: 43px;
    font-weight: bolder;
    margin-left: 50px;
    margin-top: 20px;
    text-align: start;
  }
  .peli{
    display: grid;
    grid-row: 2/3;
    z-index: 5;
  
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: repeat(5, 56px);
  /*   position: relative; */
  } 
  .peli > img{
    display: grid;
    z-index: 5;
    grid-row: 1/7;
  }
  .imgPeli{
    display: grid;
    z-index: 10;
    grid-row: 2/5;
  }
/* CONTENEDOR GENERO */

.contendorGeneral > ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
}
ul.slider {
    position:relative; /*Necesitamos que el ul sea relativo*/
}
ul.slider li {
    opacity: 0; /*Ocultamos todos los <li>*/
    transition: opacity .5s;
    position: absolute; /*Posicionamos en absoluto los <li>*/
    left: 0px;
    top: 0px;
    margin:50px;
    padding:50px;
    border:2px solid red;
    background:#fff;
    
}
ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
ul.slider li:target {
    opacity: 1; /*Mostramos el <li> al que apunta el enlace*/
}
nav {
    position:relative;
    top:200px;
    left:50px;
}

.mySlides{
    transition:all 0.3s ease;
}
.nom-slide{
    display: flex;
    background-color: crimson;
    width: 450px;
    height: 50px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin: auto;
    margin-bottom: -20px;
    position: relative;
    z-index: 5;
    align-items: center;
    justify-content: center;
}
.sli{
    width: 20%;
    height: auto;
    float: left;
    margin-left: 40px;
    text-align: center;    
}
.sli >h3{
    font-family: 'Lato', sans-serif;
    color: #e50033;
    font-size: 21px;
}
.sli >p{
    font-family: 'Raleway', sans-serif;
    color:rgb(32, 32, 32);
    margin-top: -10px;
    font-size: 13px;
}
.sli >img{
    width: 100%;
    height: auto;
}
.cont-slide{

    width:95%;
    height: auto;
    margin: auto;
    position: absolute;
    padding-top: 40px;
    padding-left: 40px;
    margin-left: 40px;
    grid-row: 2/3;
    z-index: 5;
    
}
.btn{
    float: left;
    background-color: #0F0033;
    justify-content: center;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top:200px;
    margin-right: 20px;
}
/* FIN SLIDERS */

