<div class="perfil">
        <div class="parte1">
            <p>PERFIL</p>
            <div class="imgPerfil">
                <div class="sombraImgPerfil"></div>
                <div class="imgAvatar"><a routerLink="/perfilUsuarioAvatars" routerLinkActive="active"><img src="../../../assets/img/avatars/avatar3.png" width="152px" height="152px"></a></div>
            </div>
            <img src="../../../assets/img/botones/fondoImgPerfil.png" width="400px" height="400px">
        </div>
    
    
        <div class="parte3">
            <div><button class="btnx"><a routerLink="/perfilUsuario" routerLinkActive="active"><img src="../../../assets/img/botones/botonQuitarPeli.png" width="50px" height="50px"></a></button></div>
    
            <div class="imgUser"><img src="../../../assets/img/avatars/avatar1.png" width="150px" height="150px"></div>
            <div class="imgUser"><img src="../../../assets/img/avatars/avatar2.png" width="150px" height="150px"></div>
            <div class="imgUser"><img src="../../../assets/img/avatars/avatar3.png" width="150px" height="150px"></div>
            <div class="imgUser"><img src="../../../assets/img/avatars/avatar4.png" width="150px" height="150px"></div>
            <div class="imgUser"><img src="../../../assets/img/avatars/avatar5.png" width="150px" height="150px"></div>
            <div class="imgUser"><img src="../../../assets/img/avatars/avatar6.png" width="150px" height="150px"></div>
    
            <div><button class="btnok">OK</button></div>
    
        </div>
    </div>