<div class="container">
    <h2>Editar Usuario</h2>

    <form [formGroup]="userRegister" (ngSubmit)="send(userRegister.value)" class="createSong center">
        <label class="mtop white">
            <input type="text" formControlName="nombre" class="i-form" placeholder="Nombre">
        </label>
        <br>

        <label class="mtop white">
            <input type="text" formControlName="correo" class="i-form" placeholder="Email">
        </label>
        <br>

        <label class="mtop white">
            <input type="password" formControlName="password" class="i-form" placeholder="Password">
        </label>
        <br>

        <label class="mtop white">
            <input type="text" formControlName="role" class="i-form" placeholder="Rol">
        </label>
        <br>
        <br>
        <button type="submit" class="botonOk" >OK</button>
    </form>

</div>