<header>
    <div class="navbar">
        <div class="logo">
            <a [routerLink]="['/browse']">
                <img src="../../../assets/img/botones/titleLogo.png" width="200px" height="60px">
            </a>

        </div>
            
        <nav>
            <ul>
                <li routerLinkActive ="active">
                    <a [routerLink]="['/browse']">Inicio</a>
                </li>

                <li routerLinkActive ="active">
                    <a [routerLink]="['/browse/bitLike']">Bitlike</a>
                </li>

                <li routerLinkActive ="active">
                    <a [routerLink]="['/browse/content']">Contenido</a>
                </li>
            </ul>

            <div class="profile">
               
                <p id="nameProfile"></p>
                <a [routerLink]="['/browse/user']">
                    <img id= "imgNav" src="" width="40px" height="40px">
                </a>
            </div>

            <div class="search">
                <input id="buscador" type="text" 
                (keyup.enter)="buscarPelicula(valor.value)"
                placeholder="Buscar..." name="search"
                #valor>
            </div>
        </nav>
    </div>

</header>
