
/* HEADER */
header {
    background: rgba(75, 73, 73, 0.9);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    background-color: #912932;
  }
  .logo {
    float: left;
    padding: 8px;
  }
  .navbar{
    width: 90%;
    margin: auto;
    overflow:hidden;
  }
  nav ul {
    float: left; 
    padding-top: 2%;
    list-style: none;
    overflow: hidden;
  } 
  nav ul li {
    float: left;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
  } 
  nav ul li a {
    display: block; 
    text-align: center;
    padding-left: 20px; 
    padding: 5px;
    color: #B2B2B2;
    text-decoration: none;
  } 
  nav ul li:hover {
    background: #7e7b7b;
    padding: 2px;
    border-radius: 3px;
    
  }  
  .search{
    padding: 10px;
    float: right; 
    width: 300px;
  }
  .search input[type=text] {
    width: 260px;
    padding: 6px;
    margin-top: 4%;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    background-color: #895C61;
    color: #B2B2B2;
  }
  .profile{
    display: flex;
    float: right;
    align-items: center;
    margin-left: 30px;
    margin-top: 1%;
  }
  .profile > p{
    font-family: 'Karla', sans-serif;
    font-size: 26px;
    color: #fff;
    margin-right: 20px;
    
  }
  .profile > img{
    display: flex;
  }
  /* FIN HEADER */