<div class="container">


        <header>
            <div class="navbar">
                <div class="logo"><img src="../../../assets/img/botones/titleLogo.png" width="200px" height="60px"></div>
    
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                    </ul>
    
                    <div class="profile">
                        <p>Steffany</p>
                        <img src="../../../assets/img/botones/pop7.jpg" width="40px" height="40px">
                    </div>
    
                    <div class="search">
                        <input type="text" placeholder="Buscar.." name="search">
                    </div>
                </nav>
            </div>
    
    
        </header>
    


        <section class="contenido">
    
        </section>
    
    

        <footer>
            <hr>
            <div class="redes">
                <a href="" target="_blank"><img src="../../../assets/img/botones/iconFacebook.png" width="30px"
                        height="30px"></a>
                <a href="" target="_blank"><img src="../../../assets/img/botones/iconTwitter.png" width="30px"
                        height="30px"></a>
                <a href="" target="_blank"><img src="../../../assets/img/botones/iconYoutube.png" width="30px"
                        height="30px"></a>
            </div>
    
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </footer>
    </div>
