<div class="contenedorInfo">
<img>

    <div class="column1" *ngFor='let pelicula of peliculas'>
        <div class="afichePeli"><img [src]="pelicula.poster_path" width="250px" height="340px"></div>

        <div class="punctuation">
            <div class="cuadroPunctuation">Puntuacion: {{pelicula.vote_average}}</div>
        </div>

        <div class="info1">
            <h4>Director</h4>
            <p>{{pelicula.director}}</p>

            <h4>Reparto</h4>
            <p>Cristina Aguilera</p>
            <p>Michael Jackson</p>
            <p>Taylor Swift</p>
        </div>
    </div>


    <div class="column2" *ngFor='let pelicula of peliculas'>
        <div class="parte1">
            <div class="info2">
                <div class="titlePeli">{{pelicula.title}}</div>

                <div class="contenedorGeneros">
                    <div class="cuadroGenero">{{pelicula.genres}}</div>

                </div>
            </div>
            <div class="bitLike" (click)="Like(pelicula)"><img src="../../../../assets/img/botones/botonBitLike.png"
                    width="120px" height="120px"></div>
        </div>

        <div class="parte2">
            <div class="info3">
                <div class="fecha">Fecha: {{pelicula.release_date}}</div>
                <div class="country">Pais: {{pelicula.release_date}}</div>
                <div class="duration">Duracion: {{pelicula.runtime}}</div>
            </div>
        </div>

        <div class="parte3">
            <div class="categoria">
                <h3>SINOPSIS</h3>
                <div class="tipo">{{pelicula.type}}</div>
            </div>
            <div class="sinopsis">{{pelicula.overview}}</div>
        </div>
    </div>
</div>


<div class="contenedorTemporadas">

    <div class="primeraTemporada">
        <div class="titleSectionFirstSeason">PRIMERA TEMPORADA</div>

        <div class="SectionFirstSeason">
            <div class="imgFirstSeason">
                <img src="../../../../assets/img/anime/sakura2.jpg" width="350px" height="200px">
            </div>

            <div class="infoFirstSeason">
                <div class="titleFirstSeason">Sakura Card Captor</div>
                <div class="sinopsisFirstSeason">La obra narra las aventuras de Sakura Kinomoto, una pequeña niña de diez años que accidentalmente libera un conjunto de cartas que se encontraban dentro de un libro, el cual había descubierto en la biblioteca de su padre. Tras esto, Kero —el guardián del libro— emerge y, al enterarse de que la mayoría de las cartas conocidas como las «cartas Clow» se habían esparcido por todas partes, le dice a Sakura que ahora es su responsabilidad convertirse en una «cardcaptor» e ir en busca de ellas para evitar que ocurra una «catástrofe» en el mundo. </div>
            </div>
        </div>
    </div>


    <div class="seleccionarTemporada">
        <div class="cuadroTemporada">Temporada 1</div>
        <div class="cuadroTemporada">Temporada 2</div>
        <div class="cuadroTemporada">Temporada 3</div>
    </div>


    <div class="temporadaSelected">

        <div class="SectionSeason">
            <div class="imgFirstSeason">
                <img src="../../../../assets/img/anime/sakura1.jpg" width="350px" height="200px">
            </div>

            <div class="infoSeason">
                <div class="titleSeason">Sakura y el Misterioso Libro Mágico</div>
                <div class="dateSeason">7 de abril de 1998</div>

                <div class="sinopsisSeason">En este episodio se hace una breve presentación de los personajes principales de la serie mientras Sakura se dirige a su escuela. Al regresar a casa, Sakura escucha unos ruidos extraños en el sótano y, armada con el bastón del club de animadoras al que pertenece, decide bajar a investigar de dónde provienen esos ruidos. En el sótano encuentra un libro en cuyo interior se encontraban las Cartas Clow. Sakura toma la carta del Viento y al pronunciar su nombre se forma una ventisca que provoca que las cartas se escapen del libro y que, por lo tanto, el sello de las cartas desaparezca. En este momento aparece Kerberos quien amablemente indica a Sakura su misión como Card Captor. Esa misma noche, Sakura captura la carta Fly (Vuelo) con la ayuda de la carta Windy (Viento). 
                </div>
            </div>
        </div>
        <div class="SectionSeason">
            <div class="imgFirstSeason">
                <img src="../../../../assets/img/anime/sakura1.jpg" width="350px" height="200px">
            </div>

            <div class="infoSeason">
                <div class="titleSeason">Sakura y su maravillosa Amiga</div>
                <div class="dateSeason">14 de abril de 1998</div>

                <div class="sinopsisSeason">Sakura llega muy alegremente a su escuela (como es su costumbre) y se encuentra con Tomoyo, su mejor amiga. Dado que el pasatiempo de Tomoyo es grabar sucesos interesantes, Tomoyo le muestra a Sakura una grabación que había tomado la noche anterior y Sakura observa con mucho asombro que en esa grabación aparecen nada más y nada menos que ella volando con ayuda de la carta Vuelo y a su lado va Kerberos, ahora llamado cariñosamente "Kero" por Sakura. Sakura le cuenta su secreto a Tomoyo y ella decide ayudarle con el vestuario, creando una nueva "pose" para los conjuros y se compromete a grabar todas sus "hazañas" empezando esa noche precisamente, en la que Sakura captura la carta Shadow (Sombra). 
                </div>
            </div>
        </div>
        <div class="SectionSeason">
            <div class="imgFirstSeason">
                <img src="../../../../assets/img/anime/sakura1.jpg" width="350px" height="200px">
            </div>

            <div class="infoSeason">
                <div class="titleSeason">Sakura y su primera cita</div>
                <div class="dateSeason">21 de abril de 1998</div>

                <div class="sinopsisSeason">Sakura asiste a un acuario con sus compañeros de clase. De repente, en medio de la diversión, ella observa que uno de los pingüinos que estaba actuando en ese momento se empieza a ahogar a causa de un remolino de agua que se forma. Al llegar a casa, lo consulta con Kero y presumen que se trata de la carta Watery (Agua), pero como esta carta utiliza magia más poderosa les resulta difícil sellarla, al menos por el momento. Entonces Toya y Yukito llegan y Sakura se pone muy contenta, por lo que Sakura decide preparles algo de comer. En agradecimiento a esta acción, Yukito la invita a salir y la lleva al mismo acuario donde Sakura había observado a la Carta Clow y en el momento en que iban a ordenar algo de comer todo se inunda, pero gracias a Yukito, Sakura se salva y se le ocurre una manera de capturar a la carta Watery (Agua). Esa noche regresa
                </div>
            </div>
        </div>


    </div>

</div>