
        <div class="slider">
            <ul>
                <li>
                    <img src="../../../assets/img/slider/slider7.png" width="600px" height="450px" />
                </li>
                <li>
                    <img src="../../../assets/img/slider/slider6.png" width="600px" height="450px" />
                </li>
                <li>
                    <img src="../../../assets/img/slider/slider3.png" width="600px" height="450px" />
                </li>
                <li>
                    <img src="../../../assets/img/slider/slider4.png" width="600px" height="450px" />
                </li>
                <li>
                    <img src="../../../assets/img/slider/slider5.png" width="600px" height="450px" />
                </li>
                <li>
                    <img src="../../../assets/img/slider/slider1.png" width="600px" height="450px" />
                </li>
            </ul>
        </div>



        <div class="filtros">

            <div class="cajita">
                <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
                <select name="Año">
                    <option selected>Año</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                </select>
            </div>

            <div class="cajita">
                <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
                <select name="Genero">
                    <option selected>Genero</option>
                    <option value="Romance">Romance</option>
                    <option value="Drama">Drama</option>
                    <option value="Anime">Anime</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Mujeres en la historia">Mujeres en la historia</option>
                </select>
            </div>

            <div class="cajita">
                <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
                <select name="Estado">
                    <option selected>Estado</option>
                    <option value="Finalizada">Finalizada</option>
                    <option value="En proceso">En proceso</option>
                </select>
            </div>

            <div class="cajita">
                <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
                <select name="Tipo">
                    <option selected>Genero</option>
                    <option value="Pelicular">Pelicula</option>
                    <option value="Serie">Serie</option>
                </select>
            </div>

            <div class="cajita">
                <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
                <select name="Pais">
                    <option selected>Pais</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Estados Unidos">Estados Unidos</option>
                    <option value="Inglaterra">Inglaterra</option>
                </select>
            </div>
        </div>



        <div class="contenedorGeneral">

            <div class="contenedorGenero">
                <img src="../../../assets/img/botones/cuadradoFondoGenero.png" width="500px" height="500px">
                <div class="titleGenero">HISTORIA</div>

                <div class="cont-slide">
                    <button class="btn" (click)="boton1(display)">&#10094;</button>

                    <div class="mySlides">
                        <div *ngIf="isValid">
                            <div class="sli" *ngFor="let genero of slide">
                                <img src="">
                                <a> <img width="200px" height="300px" [src]="genero.img" />
                                    <br />
                                    <h3 class="details">Titulo</h3>
                                </a>
                            </div>
                        </div>

                        <div *ngIf="noisValid">
                            <div class="sli" *ngFor="let genero of slide1">
                                <a><img width="200px" height="300px" [src]="genero.img" />
                                    <br />
                                    <h3 class="details">Titulo</h3>
                                </a>
                            </div>
                        </div>
                    </div>

                    <button class="btn" (click)="boton(display)">&#10095;</button>
                </div>
            </div>

            <!-- --------SLIDE 2------------- -->

            <div class="contenedorGenero">
                <img src="../../../assets/img/botones/cuadradoFondoGenero.png" width="500px" height="500px">
                <div class="titleGenero">ROMANCE</div>

                <div class="cont-slide">
                    <button class="btn" (click)="boton12(display)">&#10094;</button>

                    <div class="mySlides">
                        <div *ngIf="isValid2">
                            <div class="sli" *ngFor="let genero of slide2">
                                <img src="">
                                <a> <img width="200px" height="300px" [src]="genero.img" />
                                    <br />
                                    <h3 class="details">Titulo</h3>
                                </a>
                            </div>
                        </div>

                        <div *ngIf="noisValid2">
                            <div class="sli" *ngFor="let genero of slide12">
                                <a ><img width="200px" height="300px" [src]="genero.img" />
                                    <br />
                                    <h3 class="details">Titulo</h3>
                                </a>
                            </div>
                        </div>
                    </div>

                    <button class="btn" (click)="boton2(display)">&#10095;</button>
                </div>
            </div>

            <!-- --------SLIDE 3------------- -->

            <div class="contenedorGenero">
                <img src="../../../assets/img/botones/cuadradoFondoGenero.png" width="500px" height="500px">
                <div class="titleGenero">DRAMA</div>

                <div class="cont-slide">
                    <button class="btn" (click)="boton13(display)">&#10094;</button>

                    <div class="mySlides">
                        <div *ngIf="isValid3">
                            <div class="sli" *ngFor="let genero of slide3">
                                <img src="">
                                <a> <img width="200px" height="300px" [src]="genero.img" />
                                    <br />
                                    <h3 class="details">Titulo</h3>
                                </a>
                            </div>
                        </div>

                        <div *ngIf="noisValid3">
                            <div class="sli" *ngFor="let genero of slide13">
                                <a ><img width="200px" height="300px" [src]="genero.img" />
                                    <br />
                                    <h3 class="details">Titulo</h3>
                                </a>
                            </div>
                        </div>
                    </div>

                    <button class="btn" (click)="boton3(display)">&#10095;</button>
                </div>
            </div>

            <!-- --------SLIDE 4------------- -->

            <div class="contenedorGenero">
                <img src="../../../assets/img/botones/cuadradoFondoGenero.png" width="500px" height="500px">
                <div class="titleGenero">ANIME</div>

                <div class="cont-slide">
                    <button class="btn" (click)="boton14(display)">&#10094;</button>

                    <div class="mySlides">
                        <div *ngIf="isValid4">
                            <div class="sli" *ngFor="let genero of slide4">
                                <img src="">
                                <a> <img width="200px" height="300px" [src]="genero.img" />
                                    <br />
                                    <h3 class="details">Titulo</h3>
                                </a>
                            </div>
                        </div>

                        <div *ngIf="noisValid4">
                            <div class="sli" *ngFor="let genero of slide14">
                                <a><img width="200px" height="300px" [src]="genero.img" />
                                    <br />
                                    <h3 class="details">Titulo</h3>
                                </a>
                            </div>
                        </div>
                    </div>

                    <button class="btn" (click)="boton4(display)">&#10095;</button>
                </div>
            </div>

            <!-- --------SLIDE 5------------- -->

            <div class="contenedorGenero">
                <img src="../../../assets/img/botones/cuadradoFondoGenero.png" width="500px" height="500px">
                <div class="titleGenero">COMEDIA</div>

                <div class="cont-slide">
                    <button class="btn" (click)="boton15(display)">&#10094;</button>

                    <div class="mySlides">
                        <div *ngIf="isValid5">
                            <div class="sli" *ngFor="let genero of slide5">
                                <img src="">
                                <a > <img width="200px" height="300px" [src]="genero.img" />
                                    <br />
                                    <h3 class="details">Titulo</h3>
                                </a>
                            </div>
                        </div>

                        <div *ngIf="noisValid5">
                            <div class="sli" *ngFor="let genero of slide15">
                                <a ><img width="200px" height="300px" [src]="genero.img" />
                                    <br />
                                    <h3 class="details">Titulo</h3>
                                </a>
                            </div>
                        </div>
                    </div>

                    <button class="btn" (click)="boton5(display)">&#10095;</button>
                </div>
            </div>

            <!-- -------- FIN SLIDERS ------------- -->

        </div>