<div class="slider">
    <ul>
        <li>
            <img src="../../../assets/img/slider/slider5.png" width="600px" height="450px" />
        </li>
        <li>
            <img src="../../../assets/img/slider/slider1.png" width="600px" height="450px" />
        </li>
        <li>
            <img src="../../../assets/img/slider/slider8.png" width="600px" height="450px" />
        </li>
        <li>
            <img src="../../../assets/img/slider/slider2.png" width="600px" height="450px" />
        </li>
        <li>
            <img src="../../../assets/img/slider/slider5.png" width="600px" height="450px" />
        </li>
        <li>
            <img src="../../../assets/img/slider/slider1.png" width="600px" height="450px" />
        </li>
    </ul>
</div>


<div class="filtros">
    <div class="cajita">
            <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
            <select name="Tipo" (change)="GetTypes($event.target.value)">
                <option routerLink="/browse/content" aria-selected="undefined">Todos los tipos</option>
                <option *ngFor="let type of typesList">{{type}}</option>
            </select>
        </div> 
<div class="cajita">
    <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
    <select name="Género" (change)="GetGenres($event.target.value)">Género
        <option routerLink="/browse/content" aria-selected="false">Todos los géneros</option>
        <option *ngFor="let genres of genresList">{{genres}}</option> 
    </select>
</div>
</div>



<div class="contenedorGeneral">

    <div class="mov" *ngFor='let pelicula of listaDePeliculas'>
        <div class="card">
            <div class="imgBx">
                <a><img width="200px" height="300px" [src]="pelicula.poster_path" (click)="Componente(pelicula)" /> </a>
            </div>
            <div class="details">
                <h3>{{pelicula.title}}</h3>
            </div>
        </div>
    </div>

</div>