<div class="slider">
        <ul>
            <li>
                <img src="../../../assets/img/slider/slider5.png" width="600px" height="450px" />
            </li>
            <li>
                <img src="../../../assets/img/slider/slider1.png" width="600px" height="450px" />
            </li>
            <li>
                <img src="../../../assets/img/slider/slider8.png" width="600px" height="450px" />
            </li>
            <li>
                <img src="../../../assets/img/slider/slider2.png" width="600px" height="450px" />
            </li>
            <li>
                <img src="../../../assets/img/slider/slider5.png" width="600px" height="450px" />
            </li>
            <li>
                <img src="../../../assets/img/slider/slider1.png" width="600px" height="450px" />
            </li>
        </ul>
    </div>



    <div class="filtros">

        <div class="cajita">
            <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
            <select name="Año">
                <option selected>Año</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
            </select>
        </div>

        <div class="cajita">
            <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
            <select name="Genero">
                <option selected>Genero</option>
                <option value="Romance">Romance</option>
                <option value="Drama">Drama</option>
                <option value="Anime">Anime</option>
                <option value="Comedia">Comedia</option>
                <option value="Mujeres en la historia">Mujeres en la historia</option>
            </select>
        </div>

        <div class="cajita">
            <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
            <select name="Estado">
                <option selected>Estado</option>
                <option value="Finalizada">Finalizada</option>
                <option value="En proceso">En proceso</option>
            </select>
        </div>

        <div class="cajita">
            <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
            <select name="Tipo">
                <option selected>Genero</option>
                <option value="Pelicular">Pelicula</option>
                <option value="Serie">Serie</option>
            </select>
        </div>

        <div class="cajita">
            <img src="../../../assets/img/botones/fondoFiltro.png" width="90px" height="80px">
            <select name="Pais">
                <option selected>Pais</option>
                <option value="Colombia">Colombia</option>
                <option value="Estados Unidos">Estados Unidos</option>
                <option value="Inglaterra">Inglaterra</option>
            </select>
        </div>
    </div>


    <div class="contenedorGeneral">

        <div class="mov" *ngFor='let pelicula of listaDePeliculas'>
            <div class="card">
                <div class="imgBx">
                    <a routerLink='/browse/watch'><img width="200px" height="300px" [src]="pelicula.poster_path" /> </a>
                </div>
                <div class="details">
                    <h3>{{pelicula.title}}</h3>
                </div>
            </div>
        </div>

    </div>


