
<section class="contenido">
    <video src="../../../assets/video/Glitch n Glow - Scan Effect - Light Bar Scans - Free Footage Light Layer.mp4"
        class="video" type="video/mp4" loop autoplay> </video>

    <div class="parte1Registro">
        <div class="cuadroSombraRegistro"></div>
        <div class="cuadroRegistro">
            <div class="titleRegistro"><img src="../../../assets/img/botones/titleLogo.png"></div>

            <form class="registro" [formGroup]="registerForm" (ngSubmit)="enviar(registerForm.value)">

                <input class="nameRegistro" id="name" formControlName="name" type="text"
                    placeholder="Nombre de usuario">
                <small class="error"
                    *ngIf="registerForm.get('name').hasError('required') && registerForm.get('name').touched ">Nombre
                    requerido</small>

                <input class="emailRegistro" id="email" formControlName="email" type="email"
                    placeholder="ejemplo@gmail.com">
                <small class="error"
                    *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched ">Email
                    requerido</small>

                <input class="passwordRegistro" id="password" formControlName="password" type="password"
                    placeholder="Contraseña">
                <small class="error"
                    *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched ">Contraseña
                    requerida</small>


                <button class="botonLogin" type="submit">
                    <a routerLink="" routerLinkActive="active">Inicia sesión</a>
                </button>
                <button class="botonRegister" type="submit">Regístrate</button>


            </form>

            <button class="botonEnviar" type="submit"></button>
        </div>
    </div>


    <div class="parte2Registro">
        <a routerLink="/Womake/home" routerLinkActive="active" target="_blank">
            <img src="../../../assets/img/botones/botonEmpresa.png">
        </a>
    </div>

</section>