/* PARTE 1 */
.perfil{
    display: grid;
    width: 100%;
    height: 560px;
    background-color: #FFFFFF;
    grid-template-columns: 40% 60%;
/*     margin-top: 60px; */
  }
  .parte1{
    display: grid;
    grid-column: 1/2;
    background-color: #1F2345;
    grid-template-rows: repeat(8, 90px);
    grid-template-columns: repeat(8, 86px);
  }
  .parte1 > img{
    display: grid;
    grid-row: 3/7;
    grid-column: 2/6;
  }
  .parte1 > p{
    display: grid;
    grid-row: 3/5;
    grid-column: 3/5;
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    font-size: 52px;
    color: #CCCCCC;
    z-index: 5;
  }  
  .imgPerfil{
    display: grid;
    width: 160px;
    height: 160px;
    grid-row: 4/8;
    grid-column: 3/8;
    margin-top: 40px;
    margin-left: 10px;
    justify-content: center;
  
    grid-template-rows: repeat(10, 12px);
    grid-template-columns: repeat(10, 12px);
  }
  .sombraImgPerfil{
    display: grid;
    width: 150px;
    height: 150px;
    grid-row: 2/10;
    grid-column: 1/9;
    background-color: #1F202B;
    border-radius: 150px;
    margin-top: 10px;
  }

  .fondo{
    z-index: 100;
  }
  .imgAvatar{
    display: grid;
    width: 150px;
    height: 150px;
    grid-row: 1/9;
    grid-column: 1/9;
    background-color: #CCCCCC;
    border-radius: 150px;
  }
 .contenedorEliminar{
     display: grid;
     width: 250px;
     height: 100px;
     /* background-image: url(../../../assets/img/botones/rayasBlancas.png); */
     background-position: center;
     grid-row: 10/11;
     grid-column: 3/6;
     margin-top: 40PX;

     grid-template-rows: auto auto;
     justify-content: center;
 }
  .eliminar{
    display: grid;
    grid-row: 1/3;
    border:none;
    margin-top: 20px;
    background-color:#912932;
    width: 180px;
    height: 60px;
    cursor: pointer;
    align-items: center;
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 21px;
    font-weight: lighter;
  }
  .imgFondoBotonEditar{
    width: 200px;
    height: 200px;
    background-color: #1F202B;
}
/* FIN PARTE 1 */

/* PARTE 4 */
.parte4{
    display: grid;
    grid-column: 2/3;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #CCCCCC;
    justify-content: center;
    text-align: center;
  }
  .btnx{
      width: 80px;
border-style: none;
background-color: #CCCCCC;
padding-top: 50px;
  }
  .parte4 input[type=text], input[type=password], input[type=email]{
    padding: 15px 70px;
    margin: 10px;
    margin-left: 10%;
  }
  .parte4 h4{
    font-family: 'Karla', sans-serif;
    font-size: 26px;
    color: #9A5259;
  }
  .delete{
    border:none;
    background-color:#912932;
    color: white;
    width: 200px;
    padding: 15px 35px;
    margin-left: 200px;
    margin-top: 550px;
    cursor: pointer;
  }
  .change{
    border:none;
    background-color:#1F2345;
    color: white;
    padding: 15px 35px;
    margin-left: 500PX;
    /* margin-top: 50px; */
    cursor: pointer;
  }
/* FIN PARTE 4 */
