<div class="perfil">

    <!-- <div class="parte1">
        <p>PERFIL</p>
        <div class="imgPerfil">
            <div class="sombraImgPerfil"></div>
            <div class="imgAvatar">
                <a>
                    <img src="../../../assets/img/avatars/avatar3.png" width="152px" height="152px">
                </a>
            </div>
        </div>
        <img src="../../../assets/img/botones/fondoImgPerfil.png" width="400px" height="400px">
    </div> -->

    <div class="parte1">
        <p>PERFIL</p>
        <div class="imgPerfil">
            <div class="sombraImgPerfil"></div>
            <div class="imgAvatar">

                <img id="imgEdit" src="" width="152px" height="152px">

            </div>
        </div>
        <a [routerLink]="['/browse/userAvatar']">
            <img src="../../../assets/img/botones/fondoImgPerfil.png" width="400px" height="400px">
        </a>
    </div>

    <div class="parte4">
        <div><button class="btnx"><a routerLink="/browse/user" routerLinkActive="active"><img
                        src="../../../../assets/img/botones/botonQuitarCuadrado.png" width="60px"
                        height="60px"></a></button>
        </div>

        <form [formGroup]=userForm (ngSubmit)="enviar (userForm.value)">
            <h4>NOMBRE USUARIO</h4>
            <input formControlName="name" type="text" placeholder="Nombre Usuario"> <br>
            <h4>CONTRASEÑA</h4>
            <input formControlName="password" type="password" placeholder="Contraseña"><br>
            <h4>EMAIL</h4>
            <input formControlName="email" type="email" placeholder="Email">

            <button [disabled]="userForm.invalid" type="submit" class="change">
                <p>OK</p>
            </button>
        </form>
        <!--   <form [formGroup]=userForm (ngSubmit)="enviar(userForm.value)">
                <h4>NOMBRE USUARIO</h4>
                <input formControlName="name" type="text" placeholder="Username"> <br>
                <h4>CONTRASEÑA</h4>
                <input formControlName="password" type="password" placeholder="Password"><br>
                <h4>EMAIL</h4>
                <input formControlName="email" type="email" placeholder="email">

                <button [disabled]="userForm.invalid" type="submit" class="change">OK</button>

                </form>
        -->

    </div>
</div>