<div class="perfil">
        <div class="parte1">
            <p>PERFIL</p>
            <div class="imgPerfil">
                <div class="sombraImgPerfil"></div>
                <div class="imgAvatar"></div>
            </div>
            <img src="../../../assets/img/botones/fondoImgPerfil.png" width="400px" height="400px">
        </div>

        <div class="parte2">
            <div class="dato">
                <h4>NOMBRE USUARIO</h4>
                <p>Steffany</p>
            </div>
            <div class="dato">
                <h4>CONTRASEÑA</h4>
                <p>admin123</p>
            </div>
            <div class="dato2">
                <h4>EMAIL</h4>
                <p>ejemplo@gmail.com</p>
            </div>

            <div class="botonEditar">
                    <a routerLink="/browse/editUser" routerLinkActive="active">
                        <div class="imgFondoEditar"><img src="../../../assets/img/botones/rayasAzulesBoton.png" width="200px"
                                height="100px"></div>
                        <div class="textoEditar">CAMBIAR DATOS</div>
                    </a>
                </div>
        </div>
    </div>



    
