*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
}


.container{
    background-color: black;
    margin: 0;
    padding: 0;
}

  
.contenido {
    padding-top: 70px;
  }