
<div class="lateralMenu">
    <div class="Section">
        <h4>PERFIL</h4>
         <p class="line">  <a [routerLink]="['/dashboard/perfil']">Cuenta</a></p>
        <p><a [routerLink]="['/']">Cerrar sesión</a></p>
    </div>

    <div class="Section">
        <h4>USUARIOS</h4>
        <p class="line"> <a [routerLink]="['/dashboard/users']">Ver Usuarios</a></p>
        <p> <a [routerLink]="['/dashboard/createUsers']">CrearUsuarios</a></p>
    </div>


    <div class="Section">
        <h4>CONTENIDO</h4>
        <p class="line"><a [routerLink]="['/dashboard/movies']">Ver Contenido</a></p>
        <p class="line">Añadir Contenido</p>
    </div>
</div>