<nav class="fixed">
    <div class="logo">
        <a [routerLink]="['/dashboard']">
            <img src="../../../../assets/img/LogoCine.png" width="200px" height="60px">
        </a>
    </div>
        <ul class="list">
        <li class="rigthLine">
            <a [routerLink]="['/dashboard/movies']">CONTENIDO</a>
        </li>
        <li class="rigthLine">
            <a [routerLink]="['/dashboard/users']">USUARIOS</a>
        </li>
        <li class="rigthLine">
            <a  [routerLink]="['/dashboard/perfil']">PERFIL</a>
        </li>
    </ul>
</nav>
        