  /* FOOTER */
  footer {
    display: grid;
height: 200px;
font-family: Arial, Helvetica, sans-serif;
padding-top: 120px;
text-align: center;
grid-row: 3/4;
}
.redes{
display: flex;
justify-content: center;
margin-top: 120px;
}
footer a {
flex-wrap: nowrap;
margin-left: 30px;
color: rgb(255, 255, 255);
font-size: 16px;
font-family:Arial, Helvetica, sans-serif;
text-decoration: none;
}

footer > p{
color: rgb(255, 255, 255);
font-size: 13px;
padding: 10px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
/* FIN FOOTER */
