<footer>
   <br>
   <br>
   <br>
    <div class="redes">
        <a href="" target="_blank"><img src="../../../assets/img/botones/iconFacebook.png" width="30px"
                height="30px"></a>
        <a href="" target="_blank"><img src="../../../assets/img/botones/iconTwitter.png" width="30px"
                height="30px"></a>
        <a href="" target="_blank"><img src="../../../assets/img/botones/iconYoutube.png" width="30px"
                height="30px"></a>
    </div>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</footer>