<footer>
   <br>

    <div class="redes">
        <a href="" target="_blank"><img src="../../../assets/img/botones/iconFacebook.png" width="30px"
                height="30px"></a>
        <a href="" target="_blank"><img src="../../../assets/img/botones/iconTwitter.png" width="30px"
                height="30px"></a>
        <a href="" target="_blank"><img src="../../../assets/img/botones/iconYoutube.png" width="30px"
                height="30px"></a>
    </div>

    <p> App cineBit, creado por Womake por la mujer </p>
</footer>