<div class="contenedorGeneralSections">
    <div class="content">
        <div class="titleContent red">PERFIL</div>

        <div class="cuadro1">
            <div class="cuadro A">
                <a [routerLink]="['/dashboard/perfil']">
                <div class="imgPerfil One"></div>
            </a>
            </div>
        </div>

        <div class="cuadro2">
            <div class="cuadro B">
                <a [routerLink]="['/']">
                    <div class="imgPerfil Two"></div>
               </a>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="titleContent black">USUARIOS</div>

        <div class="cuadro3">
            <div class="cuadro C">
                <a [routerLink]="['/dashboard/users']">
                <div class="imgPerfil Three"></div>
            </a>
            </div>
        </div>

        <div class="cuadro4">
            <div class="cuadro D">
                <a [routerLink]="['/dashboard/createUsers']">
                    <div class="imgPerfil Four"></div>

                </a>
                <!-- <img class="imgPerfil Four"> -->
               <!--  <p>Crear Usuarios</p> -->
            </div>
        </div>
    </div>


    <div class="content">
        <div class="titleContent blue">CONTENIDO</div>

        <div class="cuadro5">
            <div class="cuadro E">
                <a [routerLink]="['/dashboard/movies']">
                <div class="imgPerfil Five"></div>
            </a>
            </div>
        </div>

        <div class="cuadro6">
            <div class="cuadro F">
                <a [routerLink]="['/dashboard/movies']">
                <div class="imgPerfil Six"></div>
            </a>
            </div>
        </div>
    </div>


</div>