<div class="contenedorGeneralSections">
    <div class="content">
        <div class="titleContent red">PERFIL</div>

        <div class="cuadro1">
            <div class="cuadro A">
                <a [routerLink]="['/dashboard/perfil']">
                <div class="imgPerfil One">
                    
                </div>
            </a>
                <!-- <img class="imgPerfil One"> -->
              <!--   <img src="../../../../assets/img/admin/perfil1.png" alt=""  class="imgPerfil"> -->
                <!-- p>Cuenta</p> -->
            </div>
        </div>

        <div class="cuadro2">
            <div class="cuadro B">
               <a href="" >
                    <div class="imgPerfil Two"></div>
               </a>
                <!-- <p>Cerrar sesión</p> -->
            </div>
        </div>
    </div>


    <div class="content">
        <div class="titleContent black">USUARIOS</div>

        <div class="cuadro3">
            <div class="cuadro C">
                <img class="imgPerfil Three">
               <!--  <p>Regulares</p> -->
            </div>
        </div>

        <div class="cuadro4">
            <div class="cuadro D">
                <img class="imgPerfil Four">
               <!--  <p>Admin</p> -->
            </div>
        </div>
    </div>


    <div class="content">
        <div class="titleContent blue">CONTENIDO</div>

        <div class="cuadro5">
            <div class="cuadro E">
                <img class="imgPerfil Five">
             <!--    <p>Películas</p> -->
            </div>
        </div>

        <div class="cuadro6">
            <div class="cuadro F">
                <img class="imgPerfil Six">
                <!-- <p>Series</p> -->
            </div>
        </div>
    </div>


</div>