<div class="contenedorGeneralSections">
    <div class="content">
        <div class="titleContent red">PERFIL</div>

        <div class="cuadro1">
            <div class="cuadro A">
                <a [routerLink]="['/dashboard/perfil']">
                <div class="imgPerfil One">
                    
                </div>
            </a>
                <!-- <img class="imgPerfil One"> -->
              <!--   <img src="../../../../assets/img/admin/perfil1.png" alt=""  class="imgPerfil"> -->
                <!-- p>Cuenta</p> -->
            </div>
        </div>

        <div class="cuadro2">
            <div class="cuadro B">
                <a [routerLink]="['/']">
                    <div class="imgPerfil Two"></div>
               </a>
                <!-- <p>Cerrar sesión</p> -->
            </div>
        </div>
    </div>


    <div class="content">
        <div class="titleContent black">USUARIOS</div>

        <div class="cuadro3">
            <div class="cuadro C">

                    <a [routerLink]="['/dashboard/users']">

                        <div class="imgPerfil Three"></div>
                <!-- <img class="imgPerfil Three"> -->
                </a>
               <!--  <p>Ver Usuarios</p> -->
            </div>
        </div>

        <div class="cuadro4">
            <div class="cuadro D">
                <a [routerLink]="['/dashboard/createUsers']">
                    <div class="imgPerfil Four"></div>

                </a>
                <!-- <img class="imgPerfil Four"> -->
               <!--  <p>Crear Usuarios</p> -->
            </div>
        </div>
    </div>


    <div class="content">
        <div class="titleContent blue">CONTENIDO</div>

        <div class="cuadro5">
            <div class="cuadro E">
                <a [routerLink]="['/dashboard/movies']">
                    <div class="imgPerfil Five"></div>
                </a>
               <!--  <img class="imgPerfil Five"> -->
             <!--    <p>Ver Películas</p> -->
            </div>
        </div>

        <div class="cuadro6">
            <div class="cuadro F">
                <a href="">
                    <div class="imgPerfil Six"></div>
                </a>
                <!-- <img class="imgPerfil Six"> -->
                <!-- <p>Crear Contenido</p> -->
            </div>
        </div>
    </div>


</div>